<p class="pr-[2.8%]">
{% include logos/aoc.svg %}
</p>

<p>
  Hello there!<br>
  I am Zbigniew Humeniuk, and the Art of Code is an essential part of my professional life.<br>
  As a software producer, my expertise lies in developing web applications.<br>
  Throughout my career, I have held various positions, including Engineering Manager, Team Leader, and Lead Ruby on Rails Full Stack Developer.<br>
  Although these titles convey a part of my job, my primary responsibilities are centered around designing and implementing robust web applications, managing teams, delegating tasks, and reviewing developers' work.
</p>
