---
layout: default
---
<div id='first_page' class='page'>
  <div class="row align-middle" id='logo_row'>
    <div class="columns">
      <p class='align-center'>
        <img data-interchange="[images/logo@025x.png, small], [images/logo@05x.png, medium], [images/logo@05x.png, large], [images/logo@1x.png, retina], [images/logo@1x.png, xlarge], [images/logo@2x.png, xxlarge]" alt='logo' id='logo'>
      </p>
    </div>
  </div>
  <div class="row align-bottom" id='scroll_down_row'>
    <div class="columns">
      <p class='align-center animated infinite tada'>
        <span aria-hidden="true" class="arrow_carrot-down"></span>
      </p>
    </div>
  </div>
</div>

<div id='second_page' class='page'>
  <div class="row align-middle">
    <div class="columns no-horizontal-padding">
      <div class="row align-spaced">
        <div class="columns">
          <h2 class='align-center'>About</h2>
        </div>
      </div>
      <div class="row align-spaced">
        <div class="columns large-10 medium-11 small-10">
          <p>
            <b>Art of Code</b> is a small team specialized in the production of web apps.
            To be more precise - it is actually a one man army.
          </p>
          <p class='no-margin-bottom'>
            <img data-interchange="[images/h1@1x.png, small], [images/h1@1x.png, medium], [images/logo@h1@1x.png, large], [images/h1@2x.png, retina], [images/h1@1x.png, xlarge], [images/h1@1x.png, xxlarge]" alt='himn1' id='h1_img'>
            This is Zbigniew Humeniuk - the Universal Soldier. Some might say - a full-stack developer, but let's stick to the convention. He is on duty since 2008. The main weapons in his arsenal are:
            <a href='#' class='alt'>Ruby on Rails</a>,
            <a href='#' class='alt'>CoffeeScript</a>,
            <a href='#' class='alt'>Sass</a>,
            <a href='#' class='alt'>HTML5</a> and
            <a href='#' class='alt'>BJJ</a>.
            In the past, he was also on a few missions in the <a href='#' class='alt'>iOS</a> land.
            Proud father of <a href='#' class='alt'>Loco</a> framework.
          </p>
          <p>Follow @himn1</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id='third_page' class='page'>
  <div class="row align-middle">
    <div class="columns no-horizontal-padding">
      <div class="row align-spaced">
        <div class="columns">
          <h2 class='align-center'>Current Works</h2>
        </div>
      </div>
      <div class="row align-spaced">
        <div class="columns large-12 medium-11 small-10">
          <p>
            TODO ...
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id='fourth_page' class='page'>
  <div class="row align-middle">
    <div class="columns no-horizontal-padding">
      <div class="row align-spaced">
        <div class="columns">
          <h2 class='align-center'>Open Source</h2>
        </div>
      </div>
      <div class="row align-spaced">
        <div class="columns large-12 medium-11 small-10">
          <p>
            TODO ...
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id='last_page' class='page'>
  <div class="row align-middle">
    <div class="columns no-horizontal-padding">
      <div class="row align-spaced">
        <div class="columns large-3 medium-5 small-10 info_column">
          <p class='no-margin-bottom'>
            Zbigniew Humeniuk<br>
            <b>Art of Code</b><br>
            NIP: 6391799512
          </p>
        </div>

        <div class="columns large-3 medium-5 small-10 info_column">
          <p class='no-margin-bottom'>
            Huculska 4/52<br>
            30-413 Kraków<br>
            Poland
          </p>
        </div>

        <div class="columns large-3 medium-5 small-10 info_column">
          <p class='no-margin-bottom'>
            Contact<br>
            <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          </p>
        </div>

        <div class="columns large-3 medium-5 small-10 info_column">
          <p class='no-margin-bottom'>
            {% include icon-twitter.html username=site.twitter_username %}<br>
            {% include icon-github.html username=site.github_username %}<br>
            {% include icon-github.html username='locoframework' %}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>