// http://www.ios-blog.co.uk/tutorials/objective-c/htpressablebutton-ios-component/
$turquoise: #5abe9e;
$green-sea: #4ca287;

$emerald: #63cb71;
$nephritis: #44af62;

$sun-flower: #f1c548;
$citrus: #f09d42;

$carrot: #e67f3c;
$pumpkin: #d45533;

$alizarin: #E74C3C;
$pomegranate: #c1392d;

$amethyst: #9c59b6;
$belize-hole: #8e44ad;

$peter-river: #4098dc;
$river-dark: #3581ba;

$wet-asphalt: #344a5f;
$midnight-blue: #2c3f51;

$clouds: #edf1f2;
$silver: #bdc4c8;

$concrete: #95a6a7;
$asbestos: #7f8c8d;

$jay: #61d3f9;
$jay-dark: #50b2d7;

$grape-fruit: #e95465;
$grape-fruit-dark: #db4453;

$bitter-sweet: #ec6c4e;
$bitter-sweet-dark: #e9573e;

$sun-flower-sec: #f8ce52;
$sun-flower-sec-dark: #f4bb47;

$grass: #a0d568;
$grass-dark: #8cc153;

$mint: #64d0ae;
$mint-dark: #5abe9d;

$aqua: #58c2ae;
$aqua-dark: #4fb0db;

$blue-jeans: #5e9dec;
$blue-jeans-dark: #4b89dd;

$lavander: #ad93ed;
$lavander-dark: #977ade;

$pink-rose: #eb87c1;
$pink-rose-dark: #d871ae;

$ash: #f6f8fb;
$ash-dark: #e7eaed;

$medium: #cdd2da;
$medium-dark: #abb3be;

$lead: #666d79;
$lead-dark: #434a55;