body{
  font-family: $base-font-family;
  font-size: $base-font-size;
  background-color: #111;
}

/**
 * First page
 */

#first_page{
  background-color: #fff;

  #logo_row{
    #logo{
      @media screen and #{breakpoint(small down)} {}
    }
  }

  #scroll_down_row{
    font-size: rem-calc(30);
  }
}

/**
 * Second page
 */

#second_page{
  @include angled-edge('inside top','lower left', #fff);
  @include angled-edge('inside bottom','upper left', $emerald);
  background-color: $sun-flower;

  #second_page_row_middle{
    padding-top: 100px;
    padding-bottom: 61px;
  }

  p{
    margin-bottom: rem-calc(28);
  }

  img.team{
    width: 224px;
    height: 224px;
  }
}

/**
 * Third page
 */

#third_page{
  @include angled-edge('inside bottom','upper left', $peter-river);
  background-color: $emerald;

  #third_page_row_middle{
    padding-top: 100px;
    padding-bottom: 61px;
  }

  .project{
    @extend %vertical-rhythm;
    width: 224px;
    height: 224px;
    margin-left: auto;
    margin-right: auto;
    background-color: $nephritis;
  }

  #secret_project_icon{
    position: relative;
  }

  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .dot {
    width: 26px;
    height: 26px;
    border: 2px solid $emerald;
    border-radius: 50%;
    float: left;
    margin: 0 5px;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-animation: fx 1000ms ease infinite 0ms;
            animation: fx 1000ms ease infinite 0ms;
  }
  .dot:nth-child(2) {
    -webkit-animation: fx 1000ms ease infinite 300ms;
            animation: fx 1000ms ease infinite 300ms;
  }
  .dot:nth-child(3) {
    -webkit-animation: fx 1000ms ease infinite 600ms;
            animation: fx 1000ms ease infinite 600ms;
  }
  @-webkit-keyframes fx {
    50% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fx {
    50% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

/**
 * Fourth page
 */

#fourth_page{
  @include angled-edge('inside bottom','upper right', $midnight-blue);
  background-color: $peter-river;
}

/**
 * Last page
 */

#last_page{
  padding: rem-calc(16) 0;
  background-color: $midnight-blue;
  color: #fff;

  .info_column{
    margin: rem-calc(10) 0;
  }
}

/**
 * Footer
 */

#footer{
  padding: rem-calc(16) 0;
  background-color: #111;
  color: #fff;
}