/**
 * Reset some basic elements
 */

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */

body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  font-family: $base-font-family;
  font-size: $base-font-size;
  background-color: #111;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: rem-calc($base-font-size * 1.618);
}

/**
 * Images
 */

img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */

figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

/**
 * Headings
 */

h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
  font-family: $serif-font-family;
}

h2{
  margin-bottom: rem-calc(36 * 1.618);
  font-size: rem-calc(36);
}

/**
 * Links
 */

a {
  color: $jay;
  text-decoration: none;

  &:visited {}

  &:hover {
    color: $jay-dark;
    text-decoration: underline;
  }

  &.alt{
    color: $wet-asphalt;

    &:hover {
      color: $midnight-blue;
    }

    .icon {
      > svg {
        path {
          fill: $concrete;
        }
      }
    }
  }
}

/**
 * Other
 */

hr{
  height: 0;
  border: none;
  border-bottom: 1px dotted $concrete;
  margin-bottom: rem-calc(38);
}

/**
 * Icons
 */

.icon {
  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-bottom: 2px;

    path {
      fill: $concrete;
    }
  }
}

/**
 * Classes
 */

.no-horizontal-padding{
  padding-left: 0;
  padding-right: 0;
}
.no-margin-bottom{ margin-bottom: 0 !important; }

.align-center, .align_center { text-align: center; }
.align-right{ text-align: right; }
.align-left{ text-align: left; }

.circle{ border-radius: 50%; }

.rounded-corners{ border-radius: 16%; }

.alt-link-color{ color: $wet-asphalt; }