body[data-controller=Main]{

/**
 * First page
 */

#first_page{
  background-color: #fff;

  #logo-container{
    padding-right:3%;
  }

  #scroll_down_row{
    font-size: rem-calc(30);
  }
}

/**
 * Second page
 */

#second_page{
  @include angled-edge('inside top','lower left', #fff);
  @include angled-edge('inside bottom','upper left', $emerald);
  background-color: $sun-flower;

  #second_page_row_middle{
    padding-top: rem-calc(75 + 36 * 1.618);
    padding-bottom: rem-calc(36 + 36 * 1.618);
  }
}

/**
 * Third page
 */

#third_page{
  @include angled-edge('inside bottom','upper left', $peter-river);
  background-color: $emerald;

  #third_page_row_middle{
    padding-top: rem-calc(36 * 1.618 - 16);
    padding-bottom: rem-calc(50 + 36 * 1.618);
  }

  .project{
    background-color: $nephritis;
  }

  #ekoskaner-logo-container{
    padding-top: 26px;
    padding-left: 10px;
  }

  #ekobilet-logo-container{
    padding-top: 40px;
  }

  hr{
    border-bottom-color: $asbestos;
  }
}

/**
 * Fourth page
 */

#fourth_page{
  @include angled-edge('inside bottom','upper right', $midnight-blue);
  background-color: $peter-river;

  #fourth_page_row_middle{
    padding-top: rem-calc(36 * 1.618 - 16);
    padding-bottom: rem-calc(50 + 36 * 1.618);
  }

  h2{
    margin-bottom: rem-calc(36 * 1.618 + 12);
  }

  .project{
    background-color: $river-dark;
  }
}

/**
 * Last page
 */

#last_page{
  $height: rem-calc(27 * 6);
  min-height: $height;
  padding: rem-calc(6) 0 rem-calc(36);
  background-color: $midnight-blue;
  color: #fff;

  & > .row{
    min-height: $height;
  }

  .info_column{
    margin: rem-calc(10) 0;
  }
}

/**
 * Footer
 */

#footer{
  padding: rem-calc(18) 0;
  background-color: #111;
  color: #fff;
}

/**
 * Classes
 */

.page{
  p{
    margin-bottom: rem-calc(28);
  }
}

.project{
  @extend %vertical-rhythm;
  width: 224px;
  height: 224px;
  margin-left: auto;
  margin-right: auto;
}

img.team{
  width: 224px;
  height: 224px;
}

span.tag{
  background-color: #98cea5;
  padding: 2px 4px;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 10px;
}

span.icon{
  font-size: 13px;
}

}