<div id='first_page' class='page'>
  <div class="row align-middle" id='logo_row'>
    <div class="columns">
      <p class='align-center'>
        <img data-interchange="[images/logo@025x.png, small], [images/logo@05x.png, medium], [images/logo@05x.png, large], [images/logo@1x.png, retina], [images/logo@1x.png, xlarge], [images/logo@2x.png, xxlarge]" alt='logo' id='logo'>
      </p>
    </div>
  </div>
  <div class="row align-bottom" id='scroll_down_row'>
    <div class="columns">
      <p class='align-center animated infinite tada'>
        <span aria-hidden="true" class="arrow_carrot-down"></span>
      </p>
    </div>
  </div>
</div>