<div id='first_page' class='page'>
  <div class="row align-top" id='menu_row'>
    <div class="columns small-3 large-2">
      <div class="row align-middle">
        <div class='columns'>
          <p class='align-center no-margin-bottom'>
            <a href='#' class='alt' id='goto_about'>▒░█▓▒</a>
          </p>
        </div>
      </div>
    </div>
    <div class="columns small-3 large-2">
      <div class="row align-middle">
        <div class='columns'>
          <p class='align-center no-margin-bottom'>
            <a href='#' class='alt' id='goto_works'>▒░█▓▒░ ▒░█▓▒</a>
          </p>
        </div>
      </div>
    </div>
    <div class="columns small-3 large-2">
      <div class="row align-middle">
        <div class='columns'>
          <p class='align-center no-margin-bottom'>
            <a href='#' class='alt' id='goto_os'>▒░█▓ ▒░█▓▒░</a>
          </p>
        </div>
      </div>
    </div>
    <div class="columns small-3 large-2">
      <div class="row align-middle">
        <div class='columns'>
          <p class='align-center no-margin-bottom'>
            <a href='#' class='alt' id='goto_contact'>▒░█▓▒░█</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row align-middle" id='logo_row'>
    <div class="columns">
      <p class='align-center'>
        <img data-interchange="[assets/logo@05x.png, small], [assets/logo@05x.png, medium], [assets/logo.png, large], [assets/logo.png, retina], [assets/logo.png, xlarge], [assets/logo@2x.png, xxlarge]" alt='logo' id='logo'>
      </p>
    </div>
  </div>

  <div class="row align-bottom" id='scroll_down_row'>
    <div class="columns">
      <p class='align-center no-margin-bottom animated infinite tada'>
        <span aria-hidden="true" class="arrow_carrot-down"></span>
      </p>
    </div>
  </div>
</div>