<div id='fourth_page' class='page'>
  <div id='fourth_page_row_middle' class="row align-middle">
    <div class="columns">
      <div class="row align-spaced">
        <div class="columns small-11">
          <h2 class='align-center' id='open_source_header'>Open Source & freebies</h2>
        </div>
      </div>
      <div class="row align-center">
        <div class="columns large-5 medium-6 small-11">
          <div class='circle project'></div>
          <p>
            <a href='https://github.com/locoframework' target="_blank" class='alt'>Loco</a>
          </p>
          <p class='align-left'>Loco is a framwork that works on top of Rails.</p>
        </div>
        <div class="columns large-5 medium-6 small-11" id='avatars_columns'>
          <p>
            <img src='images/avatars@3x.jpg' alt='avatars' class='rounded-corners team'>
          </p>
          <p>Avatars package</p>
          <p class='align-left'>TODO...</p>
          <p class='align-left'>
            <a href='/downloads/avatars.zip' class='alt'>
              <span aria-hidden="true" class="icon_download"></span> Download
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>