<div id='fourth_page' class='page'>
  <div id='fourth_page_row_middle' class="row align-middle">
    <div class="columns">
      <div class="row align-spaced">
        <div class="columns small-11">
          <h2 class='align-center' id='open_source_header'>Open Source & freebies</h2>
        </div>
      </div>
      <div class="row align-center">
        <div class="columns large-6 medium-6 small-11">
          <p>
            <img src='assets/loco_logo@3x.png' alt='loco logo' class='rounded-corners team'>
          </p>
          <p>
            <a href='http://locoframework.org' target="_blank" rel="noopener noreferrer" class='alt'>Loco</a>
          </p>
          <p class='align-left'>
            <a href='http://locoframework.org' target="_blank" rel="noopener noreferrer" class='alt'>Loco</a> is a framework made up of two cooperating parts.
            First part is a front-end one called <a href='https://github.com/locoframework/loco-js' target="_blank" rel="noopener noreferrer" class='alt'>Loco-JS</a>.
            It can work autonomously. In fact, this site uses Loco-JS to provide the structure of
            JavaScript code.
            Second part is a back-end one called <a href='https://github.com/locoframework/loco-rails' target="_blank" rel="noopener noreferrer" class='alt'>Loco-Rails</a>.
            It works on top of <a href='http://rubyonrails.org' target="_blank" rel="noopener noreferrer" class='alt'>Rails</a>.
            Projects' sites have more detailed description.
          </p>
          <p class='align-left'>
            <a href='https://github.com/locoframework' target="_blank" rel="noopener noreferrer" class='alt'>
              <span aria-hidden="true" class="icon_link_alt"></span> Repositories
            </a>
          </p>
          <hr class='show-for-small-only'>
        </div>

        <div class="columns large-6 medium-6 small-11" id='avatars_columns'>
          <p>
            <img src='assets/avatars@3x.jpg' alt='avatars' class='rounded-corners team'>
          </p>
          <p>Avatars package</p>
          <p class='align-left'>
            Avatars have been originally made by Paula for our secret app (under development).
            But we give them away for free :) You can download the package and use avatars in your own projects. Enjoy!
          </p>
          <p class='align-left'>
            <a href='/downloads/avatars.zip' class='alt'>
              <span aria-hidden="true" class="icon_download"></span> Download
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>