<div id='fourth_page' class='page'>
  <div id='fourth_page_row_middle' class="row align-middle">
    <div class="columns">
      <div class="row align-spaced">
        <div class="columns small-11">
          <h2 class='align-center' id='open_source_header'>Open Source</h2>
        </div>
      </div>

      <div class="row align-center">
        <div class="columns large-3 medium-5 small-11">
          <div class='project rounded-corners' id='loco-logo-container'>
            <img src='old_assets/loco_logo@3x.png' alt='loco logo' class='rounded-corners team'>
          </div>
        </div>

        <div class="columns large-7 medium-7 small-11">
          <p class='align-left'>
            <a href='http://locoframework.org' target="_blank" rel="noopener noreferrer" class='alt'><b>Loco</b></a> 
            is a dual-part framework.
            <a href='https://github.com/locoframework/loco-js' target="_blank" rel="noopener noreferrer" class='alt'>Loco-JS</a> 
            provides structure and real-time capabilities for frontend JavaScript.<br>
            <a href='https://github.com/locoframework/loco-rails' target="_blank" rel="noopener noreferrer" class='alt'>Loco-Rails</a> 
            enhances <a href='http://rubyonrails.org' target="_blank" rel="noopener noreferrer" class='alt'>Rails</a> with conventions for modern, reactive apps.
            This website itself uses Loco-JS for frontend structure.
            Find detailed docs and usage examples in the repositories.
          </p>
          <p class='align-left'>
            <a href='https://github.com/locoframework' target="_blank" rel="noopener noreferrer" class='alt'>
              <span aria-hidden="true" class="icon_link_alt"></span> Repositories
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>