<div id='last_page' class='page'>
  <div class="row align-middle">
    <div class="columns">
      <div class="row align-spaced">
        <div class="columns large-3 medium-5 small-11 info_column">
          <p class='no-margin-bottom'>
            Zbigniew Humeniuk<br>
            <b>Art of Code</b><br>
            NIP: 6391799512
          </p>
        </div>

        <div class="columns large-3 medium-5 small-11 info_column">
          <p class='no-margin-bottom'>
            Huculska 4/52<br>
            30-413 Kraków<br>
            Poland
          </p>
        </div>

        <div class="columns large-3 medium-5 small-11 info_column">
          <p class='no-margin-bottom'>
            Contact<br>
            <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          </p>
        </div>

        <div class="columns large-3 medium-5 small-11 info_column">
          <p class='no-margin-bottom'>
            {% include icon-twitter.html username=site.twitter_username %}<br>
            {% include icon-github.html username=site.github_username %}<br>
            {% include icon-github.html username='locoframework' %}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>