<div id='second_page' class='page'>
  <div id='second_page_row_middle' class="row align-middle">
    <div class="columns">
      <div class="row align-spaced">
        <div class="columns small-11">
          <h2 class='align-center'>About</h2>
        </div>
      </div>

      <div class="row align-center">
        <div class="columns large-3 medium-5 small-11">
          <p>
            <img src='old_assets/h1@3x.jpg' alt='himn1' class='circle team'>
          </p>
          <p>
            Zbig
          </p>
        </div>

        <div class="columns large-7 medium-7 small-11">
          <p class='align-left'>
            The Universal Soldier. Some might say - a&nbsp;full-stack developer, but let's stick to the convention. He is on duty since 2008. The main weapons in his arsenal are:
            <a href='http://rubyonrails.org' target="_blank" rel="noopener noreferrer" class='alt'>Ruby on Rails</a>,
            <a href='https://en.wikipedia.org/wiki/JavaScript' target="_blank" rel="noopener noreferrer" class='alt'>modern JavaScript (ES6)</a>,
            <a href='https://webpack.js.org' target="_blank" rel="noopener noreferrer" class='alt'>webpack</a>,
            <a href='http://sass-lang.com' target="_blank" rel="noopener noreferrer" class='alt'>Sass</a> and
            <a href='https://en.wikipedia.org/wiki/HTML5' target="_blank" rel="noopener noreferrer" class='alt'>HTML5</a>.
            In the past, Zbig was on a few missions in the <a href='http://www.apple.com/ios' target="_blank" rel="noopener noreferrer" class='alt'>iOS</a> land.
            Proud father of <a href='https://github.com/locoframework' target="_blank" rel="noopener noreferrer" class='alt'>Loco</a> framework.
            Former student of <a href='https://en.wikipedia.org/wiki/Brazilian_jiu-jitsu' target="_blank" rel="noopener noreferrer" class='alt'>BJJ</a>.
          </p>

          <hr class='show-for-small-only'>
        </div>
      </div>
    </div>
  </div>
</div>