<div id='second_page' class='page'>
  <div id='second_page_row_middle' class="row align-middle">
    <div class="columns">
      <div class="row align-spaced">
        <div class="columns small-11">
          <h2 class='align-center'>About</h2>
        </div>
      </div>

      <div class="row align-center">
        <div class="columns large-3 medium-5 small-11">
          <p>
            <img src='old_assets/h1@3x.jpg' alt='himn1' class='circle team'>
          </p>
        </div>

        <div class="columns large-7 medium-7 small-11">
          <p class='align-left'>
            <b>Art of Code</b> is a boutique software studio founded and led by Zbigniew Humeniuk — a&nbsp;seasoned Software Producer, hands-on Engineering Manager, and full-stack developer with a&nbsp;focus on FinTech and web applications.<br>
            Since 2008, Zbig has designed and built modern, scalable systems using 
            <a href='http://rubyonrails.org' target="_blank" rel="noopener noreferrer" class='alt'>Ruby on Rails</a>, 
            <a href='https://react.dev' target="_blank" rel="noopener noreferrer" class='alt'>React</a>, 
            <a href='https://webpack.js.org' target="_blank" rel="noopener noreferrer" class='alt'>webpack</a>,
            <a href='https://en.wikipedia.org/wiki/HTML5' target="_blank" rel="noopener noreferrer" class='alt'>HTML5</a> and 
            <a href='https://tailwindcss.com' target="_blank" rel="noopener noreferrer" class='alt'>tailwindcss</a>. 
            He’s the creator of <a href='https://github.com/locoframework' target="_blank" rel="noopener noreferrer" class='alt'>Loco</a>, 
            an open-source framework for building reactive Rails applications with structured frontend code.<br>

            Beyond development, Zbig leads engineering teams, architects solutions, fosters high-quality coding practices and advocates pragmatic programming.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>