<div id='third_page' class='page'>
  <div id='third_page_row_middle' class="row align-middle">
    <div class="columns">
      <div class="row align-spaced">
        <div class="columns small-11">
          <h2 class='align-center'>Recent Works</h2>
        </div>
      </div>
      <div class="row align-center">
        <div class="columns large-5 medium-6 small-11">
          <div class='circle project'>
            <img src='assets/ekobilet_logo@3x.png' alt='Ekobilet logo' class='circle team'>
          </div>
          <p>
            <a href='http://ekobilet.pl' target="_blank" rel="noopener noreferrer" class='alt'>Ekobilet</a>
          </p>
          <p class='align-left'>
            <span aria-hidden="true" class="icon icon_document_alt"></span>&nbsp;Ekobilet (pol. bilet = ticket) is a ticket sales platform that is on the market since 2011.
            It allows organizers to sell tickets online as e-ticket and in the paper form by using POS.
          </p>
          <p class='align-left'>
            <span aria-hidden="true" class="icon icon_clock_alt"></span>&nbsp;Zbig developed and maintained the system between 2010 and 2017.
          </p>
          <p class='align-left'>
            <span class='tag'>#rails</span>
          </p>
          <hr class='show-for-small-only'>
        </div>

        <div class="columns large-5 medium-6 small-11">
          <div class='circle project'>
            <img src='assets/ekoskaner_logo@3x.png' alt='EkoSkaner logo' class='circle team'>
          </div>
          <p>
            <a href='http://skaner.ekobilet.pl' target="_blank" rel="noopener noreferrer" class='alt'>EkoSkaner</a>
          </p>
          <p class='align-left'>
            <span aria-hidden="true" class="icon icon_document_alt"></span>&nbsp;EkoSkaner is a web app that is connected with Ekobilet via an API.
            Its main functionality is to provide ticket validation. Tickets stay in sync with Ekobilet.
            Organizers can also upload additional tickets from other sellers as CSV.
            EkoSkaner works with handheld barcode scanners in full offline mode (syncing tickets in browser's database + <a href='https://developer.mozilla.org/en-US/docs/Web/API/Service_Worker_API/Using_Service_Workers' target="_blank" rel="noopener noreferrer" class='alt'>Service Workers</a>). Zbig is the only creator and maintainer of this app. From the beginning - it works on the <a href='https://github.com/locoframework' target="_blank" rel="noopener noreferrer" class='alt'>Loco</a> framework.
          </p>
          <p class='align-left'>
            <span aria-hidden="true" class="icon icon_clock_alt"></span>&nbsp;EkoSkaner was created from scratch in the first 3 months of 2016.
          </p>
          <p class='align-left'>
            <span class='tag'>#rails</span> <span class='tag'>#coffeescript</span>
            <span class='tag'>#loco</span> <span class='tag'>#serviceworker</span>
          </p>
          <hr class='show-for-small-only'>
        </div>
      </div>
    </div>
  </div>
</div>