<div id='third_page' class='page'>
  <div id='third_page_row_middle' class="row align-middle">
    <div class="columns">
      <div class="row align-spaced">
        <div class="columns small-11">
          <h2 class='align-center'>Recent Works</h2>
        </div>
      </div>
      <div class="row align-center">
        <div class="columns large-4 medium-6 small-11">
          <div class='circle project'>
            <img src='images/ekobilet_logo@3x.png' alt='Ekobilet logo' class='circle team'>
          </div>
          <p>
            <a href='http://ekobilet.pl' target="_blank" class='alt'>Ekobilet</a>
          </p>
          <p class='align-left'>
            Ekobilet (pol. bilet = ticket) is a ticket sales platform that is on the market since 2011.
            It allows organizers to sell the tickets online as e-ticket and from POS in the paper form.
            Zbig provides maintenance and development of the system in all areas.
          </p>
          <hr class='show-for-small-only'>
        </div>

        <div class="columns large-4 medium-6 small-11">
          <div class='circle project'>
            <img src='images/ekoskaner_logo@3x.png' alt='EkoSkaner logo' class='circle team'>
          </div>
          <p>
            <a href='http://skaner.ekobilet.pl' target="_blank" class='alt'>EkoSkaner</a>
          </p>
          <p class='align-left'>
            EkoSkaner is a web app that is connected with Ekobilet via an API.
            Its main functionality is to provide a ticket validation, both for tickets from Ekobilet
            (auto sync) and from other sellers (CSV import). EkoSkaner works with handheld barcode scanners in full offline mode (syncing tickets in brower's database + <a href='https://developer.mozilla.org/en-US/docs/Web/API/Service_Worker_API/Using_Service_Workers' target="_blank" class='alt'>Service Workers</a>). Zbig is the only creator and maintainer of this app. From the beginning - it works on the <a href='https://github.com/locoframework' target="_blank" class='alt'>Loco</a> framework.
          </p>
          <hr class='show-for-small-only'>
        </div>

        <div class="columns large-4 medium-6 small-11">
          <div class='circle project' id='secret_project_icon'>
            <div class="three_dots_loader">
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
            </div>
          </div>
          <p id='secret_project_name' class='alt-link-color'>R.......</p>
          <p class='align-left'>
            This secret app originated the <a href='https://github.com/locoframework' target="_blank" class='alt'>Loco</a> framework. It's a personal project that is in progress for a few years now. Mainly, due to the lack of time. But, it'll help you manage your time soon :) In the meantime, you can <a href='#' class='alt go_to_avatars'>download</a> and use in your own project <a href='#' class='alt go_to_avatars'>avatars</a>, that Paula made for this secret app.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>