<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AOC</title>
    <link rel="stylesheet" type="text/css" href="/assets/index.css">
  </head>
  <body class="bg-gray-50 sm:bg-yellow-50 md:bg-green-50 lg:bg-pink-50 xl:bg-blue-50 2xl:bg-red-50">
    <div class="bg-white max-w-5xl mx-auto">
      {{ content }}
    </div>

    <!--script type="text/javascript" src="/assets/vendor.js"></script>
    <script type="text/javascript" src="/assets/commons.js"></script-->
    <script type="text/javascript" src="/assets/index.js"></script>
  </body>
</html>
